<div *ngIf='category'
  fxlayout
  fxLayout.xs="column"
  fxLayoutGap="10px"
  fxLayoutAlign="center">
  <mat-grid-list cols="3" gutterSize="1%" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="2">
        <mat-grid-tile-header>
          {{category.name | uppercase}}
        </mat-grid-tile-header>
      <img width="80%" src={{category.imagePath}} alt={{category.name}}>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" class="category-details"  style="background:#e4e1e1">
      <div style="margin: 0 15px; font-size: 12px">
        <mat-list>
            <div>
              <h3>Type:</h3>
              <mat-list-item>{{category.equipmentType.value}}</mat-list-item>
              <mat-divider></mat-divider>
            </div>
            <div>
              <h3>Descripcion:</h3>
              <mat-list-item>{{category.description}}</mat-list-item>
              <mat-divider></mat-divider>
            </div>
            <div *ngIf="category.characteristic.length > 0">
              <h3>Características:</h3>
              <mat-list-item *ngFor="let item of category.characteristic">
                <span matLine>{{item}}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
            <div *ngIf="category.protectTo.length > 0">
              <h3>Protege:</h3>
              <mat-list-item>
                <span *ngFor="let item of category.protectTo; let isLast=last">
                  {{item}}{{isLast ? '': ',&nbsp;'}}
                </span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
            <div *ngIf="category.resistantTo.length > 0">
              <h3>Resistente a:</h3>
              <mat-list-item>
                <span *ngFor="let item of category.resistantTo; let isLast=last">
                  {{item}}{{isLast ? '': ',&nbsp;'}}
                </span>
              </mat-list-item>
            </div>
        </mat-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        <mat-grid-tile-header>Inventario</mat-grid-tile-header>
        <div style="display: block; width:100%;">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"></canvas>
          </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" class="category-details">
      <mat-grid-tile-header>
        <div style="width:100%">Equipos en esta Categoria</div>
        <button mat-icon-button routerLink="/equipment-inventory/equipments/create"><i class="fa fa-plus fa-lg" title="Agregar Equipo"></i></button>
      </mat-grid-tile-header>
      <div style="margin-top:45px">
        <app-list [metadata]='metadata' [metaDataActions]="actions" [data]='equipments'></app-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
