<mat-toolbar fxLayout='row' mat-dialog-title color='primary'>

  <div fxFlex>
    Asignar Equipo
  </div>
  <span fxFlex class='flex-spacer'></span>
  <div fxFlex align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>

  <form novalidate (ngSubmit)="onSubmit()" >
    <p>
      <mat-form-field>
          <mat-select placeholder="Tipo de Equipo" required (selectionChange)="selectTypeCategory(selectType.value);" #selectType >
            <mat-option *ngFor="let type of listTypes" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <mat-select placeholder="Categoria de Equipo" required (selectionChange)="selectCategory(selectCateg.value);" #selectCateg >
            <mat-option *ngFor="let category of listCategories" [value]="category.value">
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </p>
        <mat-form-field>
          <mat-select placeholder="Equipo" required (selectionChange)="selectEquipment(selectEquip.value);" #selectEquip >
            <mat-option *ngFor="let equipment of listEquipments" [value]="equipment.value">
              {{ equipment.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button (click)="emitSaveEvent()"> Guardar </button>
        </div>

  </form>

  <mat-divider></mat-divider>
  <h4>Lista de equipos asignados al empleado</h4>
  <app-list [metadata]='metadata'  [data]='equipmentsAssigned'></app-list>
