<h3 class="ssi-h3">Lista de Proyectos</h3>
<a mat-button color="primary" [routerLink]="['create']"><span class="fa fa-h ome fa-lg"></span>Nuevo Proyecto</a>
<app-list [metadata]='metadata' [metaDataActions]="metadataActions"  [data]="projects"> </app-list>
