<div class="left-menu">
  <mat-toolbar color="secundary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="['projects']">Proyectos </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['departments']">Departamentos </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['contracts']">Contratos </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['employees']">Empleados </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['positions']">Cargos </a>
    </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div class="center-section">
    <router-outlet></router-outlet>
  </div>
