<mat-form-field class="example-full-width">
  <!-- (focusout)="validate($event)" TODO: Search workaround-->
  <input matInput placeholder="{{item.label}}" [matAutocomplete]="auto"
    name="{{item.key}}"
    id="{{item.key}}"
    [ngModel]="value"
    (ngModelChange)="modelChange($event)"    
    [required]="item.required">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filter" [value]="option.value">
        <span>{{ option.value }}</span>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>