<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  
  <mat-card *ngIf="card">
    <mat-card-header>
      <mat-card-title>
        <span>{{card.title}}:</span> <button mat-raised-button *ngIf='card.createButton' color="primary"  [routerLink]="[card.createButton.route]">{{card.createButton.text}}</button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list [cols]="card.cols" [rowHeight]="card.height" [gutterSize]="card.gutterSize">
        <mat-grid-tile *ngFor="let item of card.items" [colspan]="1" [rowspan]="1">
          <mat-grid-tile-header>
            <span mat-line class="title">{{item.name | uppercase}}</span>
            <button mat-icon-button (click)="card.edit(item.id)"><i class="fa fa-pencil-square-o fa-lg"></i></button>
          </mat-grid-tile-header>
          <div style="margin-top:10px">
          <img height="200px" src={{item.image}} alt={{item.name}}>
        </div>
          <mat-grid-tile-footer>
            <div class="actions">
              <a (click)="card.addItem(item.id)" mat-button>Agregar Item</a> | <a (click)="card.details(item.id)" mat-button>Detalles</a>
            </div>
            <span class="right-footer">Cantidad:&nbsp;{{item.total}}</span>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
