.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

.mat-grid-tile .mat-grid-tile-header {
  top: 0;
  background:rgba(0,0,0,.08);
  color:rgb(77, 77, 77);
}

.mat-grid-tile .mat-grid-tile-header .title {
  font-weight: bold;
}

.mat-grid-tile .mat-grid-tile-header .subtitle {
  font-size: 12px;
}

.mat-card .mat-card-header .mat-card-title {
  font-size: 20px;
  font-weight: bold;
}

.mat-grid-list .mat-grid-tile .mat-grid-tile-footer .actions {
  width: 100%;
}

.mat-grid-list .mat-grid-tile .mat-grid-tile-footer .right-footer {
  float: right;
  font-size: 12px;
}

