<mat-toolbar fxLayout='row' mat-dialog-title color='primary'>

  <div fxFlex>
    Registro Devolución Equipo
  </div>
  <span fxFlex class='flex-spacer'></span>
  <div fxFlex align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>

  <form novalidate (ngSubmit)="onSubmit()" >
        <mat-form-field>
          <mat-select placeholder="Equipo" required (selectionChange)="selectEquipmentId(selectEquip.value);" #selectEquip >
            <mat-option *ngFor="let equipment of listEquipments" [value]="equipment.value">
              {{ equipment.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button > Devolver </button>
  </form>