.ssi-table tr {    
    td,th {
        padding: 20px 10px;
        margin: 0;
        border-bottom:  rgba(0,0,0,.12) solid 1px;
    }
    th {
        color:  rgba(0,0,0,.54);
        font-size: 14px;
    }
    &.ssi-row:hover {
        background-color:  rgba(232, 232, 232, 0.54);
    }
}

