<table class="ssi-table" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <ng-container *ngFor="let header of headers">
      <th (click)= "sort(header.key)">
        {{header.label}}
        <ng-container *ngIf="this.sortObject.header === header.key">
          <i [ngClass]="this.sortObject.orderAsc? 'fa fa-sort-asc': 'fa fa-sort-desc'"></i>
        </ng-container>
      </th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of data">
    <tr class="ssi-row">
      <td *ngFor="let header of headers">
        <div *ngIf="header.key === 'Actions'">

          <span *ngFor="let action of metaDataActions">
            <mat-checkbox *ngIf="action.type === 'checkbox'" (change)="action.callBack(row.id, $event)">
              {{ action['label']}}
            </mat-checkbox>
            <a *ngIf="action.type == null" mat-button (click)="action.callBack(row.id)">
              {{ action['label']}}
              <i *ngIf="action.hasIcon" [class]="action.hasIcon"></i>
            </a>
          </span>

        </div>
        <div *ngIf="header.key != 'Actions'">
            <span [ngSwitch]="header.type">
              <span *ngSwitchCase="'dropdown'">
                {{row[header.key].value}}
              </span>
              <span *ngSwitchCase="'RadioButton'">
                {{row[header.key].value}}
              </span>
              <span *ngSwitchCase="'datepicker'">
                {{getDate(row[header.key])}}  
              </span>    
              <span *ngSwitchCase="'between'">
                {{getDate(row[header.key])}}  
              </span>          
              <span *ngSwitchDefault>
                {{row[header.key]}}
              </span>
            </span>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
