<h3 class="ssi-h3">Lista de Departamentos</h3>
<a mat-button color="primary" [routerLink]="['create']"><span class="fa fa-h ome fa-lg"></span>Nuevo</a>
<app-list [metadata]='metadata' [metaDataActions]="actions" [data]='departments'></app-list>
<!--<app-list [metadata]='metadata' [data]="departments"> </app-list>-->
