<div class="top-section">
  Reporte        
  <a mat-button color="primary" (click)="pdf.saveAs('report.pdf')">Descargar</a>
</div>
<div class="left-section">
<app-form [items]="metadata" (save)="save($event)" [labelButton]="'Buscar'"></app-form>
</div>
<div class="right-section">
  <kendo-pdf-export #pdf paperSize="auto" margin="2cm">
          <input placeholder="Reporte de Categorias de Equipos" type="text" class="input-title">
      <app-list [metadata]='metadata' [data]='data'></app-list>
  </kendo-pdf-export>
</div>