<h3 class="ssi-h3">Lista de Contratos</h3>
<a mat-button color="primary" [routerLink]="['create']"><span class="fa fa-file"></span>Nuevo</a>
<app-list [metadata]="metadata" [metaDataActions]="metadataActions" [data]='contracts'></app-list>
