<div class="left-menu">
  <mat-toolbar color="secundary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="['equipments']"><span class="fa fa-h ome fa-lg"></span>Equipos</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a mat-button [routerLink]="['equipment-categories/safety']"><span class="fa fa-h ome fa-lg"></span>Equipos de Seguridad</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['equipment-categories/operational']"><span class="fa fa-h ome fa-lg"></span>Equipo Operacional</a>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="secundary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="['equipment/assign']"><span class="fa fa-h ome fa-lg"></span>Asignacion Equipos</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="secundary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="['equipment/controlDaily']"><span class="fa fa-h ome fa-lg"></span>Control diario de uso de equipos</a>
    </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div class="center-section">
    <router-outlet></router-outlet>
  </div>
