<div class="left-menu">
    <mat-toolbar color="secundary">
      <mat-toolbar-row>
        <a mat-button [routerLink]="['users']">registro </a>
      </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="center-section">
  <router-outlet></router-outlet>
</div>