<h2>Control Diario de uso de equipos</h2>
<mat-divider></mat-divider>
<h3>Datos del Empleado</h3>
<mat-form-field>
  <mat-select placeholder="Seleccione Empleado" required (selectionChange)="selectEmployee(selectEmployeeField.value);" #selectEmployeeField >
    <mat-option *ngFor="let optionEmployee of employeesOptions" [value]="optionEmployee.key">
      {{ optionEmployee.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-divider></mat-divider>
<h3>Lista de equipos asignados al empleado</h3>
<app-list [metadata]='metadata' [metaDataActions]="actions" [data]='equipmentsAssigned'></app-list>
<div class="buttons-control-daily-equipments">
  <button mat-button (click)="save()"> Registrar uso de equipos </button>
</div>
