<h3 class="ssi-h3">Lista de Equipos</h3>
<a mat-button color="primary" [routerLink]="['create']"><span class="fa fa-h ome fa-lg"></span>Nuevo</a>
<app-list [metadata]='metadata' [metaDataActions]="actions" [data]='equipments'></app-list>
