<mat-toolbar color="primary">
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home </a>
  <a mat-button routerLink="/structure-organizational">
    <i class="fa fa-sitemap" aria-hidden="true"></i>
    Estructura organizacional
  </a>
  <a mat-button routerLink="/equipment-inventory">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <i class="fa fa-wrench" aria-hidden="true"></i>
     Inventario de Equipos
  </a>
  <a mat-button routerLink="/control-daily-form">
    Formulario control diario de equipos
  </a>
  <a mat-button routerLink="/user-management">
    <i class="fa fa-universal-access" aria-hidden="true"></i>
    Gestion de Usuarios
  </a>
  <a mat-button routerLink="/accidents">
    Accidentes
  </a>
  <a mat-button routerLink="/reports">
    <i class="fa fa-bar-chart" aria-hidden="true"></i>
    Reportes
  </a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"> Login </span></a>
</mat-toolbar>

