<mat-toolbar fxLayout='row' mat-dialog-title color='primary'>

  <div>
    Registrar Usuarios
  </div>
  <span fxFlex class='flex-spacer'></span>
  <div fxFlex align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>
 
  <form novalidate (ngSubmit)="onSubmit()">
      <mat-dialog-content>
      <p>
        <mat-input-container>
          <input matInput [(ngModel)]="user.name"
          type="text"
          required
          placeholder="Usuario" name="username">
        </mat-input-container>
        <mat-input-container>
          <input matInput [(ngModel)]="user.password"
          type="text"
          required
          placeholder="Contraseña" name="password">
        </mat-input-container>
        <mat-input-container>
          <input matInput [(ngModel)]="user.FirstName"
          type="text"
          required
          placeholder="Nombre" name="FirstName">
        </mat-input-container>
        <mat-input-container>
          <input matInput [(ngModel)]="user.LastName"
          type="text"
          required
          placeholder="Apellido" name="LastName">
        </mat-input-container>
        <mat-input-container>
          <input matInput [(ngModel)]="user.Email"
          type="text"
          required
          placeholder="Email" name="Email">
        </mat-input-container>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-button mat-dialog-close > Cancelar </button>
      <button type="submit" mat-button class="background-primary text-floral-white">Registrar</button>
    </mat-dialog-actions>

  </form>

