<form #dynamic="ngForm">
  <div *ngFor="let item of items"  class="container-item">
    <div *ngIf="item.type === 'textbox'">
      <mat-form-field>
        <input matInput
          placeholder="{{item.label}}"
          id="{{item.key}}"
          name="{{item.key}}"
          [required]="item.required"
          [type]="item.config"
          [(ngModel)]="item.value"
          [pattern]="item.pattern">
          <mat-error *ngIf="hasError(item)">{{item.error}}</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="item.type === 'textarea'">
      <mat-form-field>
        <textarea matInput
                  placeholder="{{item.label}}"
                  name="{{item.key}}"
                  id="{{item.key}}"
                  [required]="item.required"
                  [(ngModel)]="item.value">
        </textarea>
      </mat-form-field>
    </div>
    <div *ngIf="item.type === 'file'">
      <img [src]="url"/>
      <input type='file' (change)="readUrl($event)">
    </div>

    <div *ngIf="item.type === 'RadioButton'" class="container-radiobutton">
      <div class="label-radio-button">
        {{item.label}}
      </div>
      <mat-radio-group class="example-radio-group"
        [(ngModel)]="item.value.key" 
        name="{{item.key}}"
        id="{{item.key}}">
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of item.options"
            [value]="option.key">
            {{option.value}}
          </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="item.type === 'dropdown'">
        <app-dropdown [item]="item" [(selected)]="item.value"></app-dropdown>
    </div>
    <div *ngIf="item.type === 'datepicker'">
      <mat-form-field>        
        <input matInput
          name="{{item.key}}"
          id="{{item.key}}"
          [(ngModel)]="item.value"
          [matDatepicker]="picker"
          placeholder="{{item.label}}"
          [required]="item.required">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="item.type === 'checkBoxGroup'">
      <mat-selection-list #list>
        <mat-list-option *ngFor="let option of item.options" [selected]="option.selected" (click)="item.callBack(list)" [value]="option.key">
          {{option.value}}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div *ngIf="item.type === 'between'">
      {{item.label}}<br/>
      <mat-form-field>        
        <input matInput
          name="since"
          [(ngModel)]="item.value1"
          [matDatepicker]="picker1"
          placeholder="Desde"
          [required]="item.required">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>        
        <input matInput
          name="until"
          [(ngModel)]="item.value2"
          [matDatepicker]="picker2"
          placeholder="Hasta"
          [required]="item.required">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button [disabled]="dynamic.form.invalid" (click)="emitSaveEvent()"> {{labelButton}} </button>
  </div>
</form>