<div class="left-menu">
  <mat-toolbar color="secundary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="['projects']">Proyectos</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['employees']">Empleados</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['equipments']">Equipos</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['equipments-category']">Categorias de Equipos</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['contracts']">Contratos</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['departments']">Departamentos</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['accidents']">Accidentes</a>
    </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div class="center-section">
    <router-outlet></router-outlet>
  </div>

