@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark: #512DA8;
$primary-color: #673AB7;
$primary-color-light: #D1C4E9;
$primary-color-text: #FFFFFF;
$accent-color: #FFC107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

// some basic resets

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}

.background-primary {
  background-color: $background-dark !important;
}

.background-accent {
  background-color: $accent-color !important;
}

.text-floral-white {
  color: floralwhite !important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-multiple-rows {
  width: 130px;
}

.left-menu {
  width: 180px;
  & + .center-section {
      width: calc(100% - 180px);
      padding: 10px 20px;
      box-sizing:  border-box;
  }    
}

.left-menu, .center-section {
  float: left;
}

.left-section, .right-section {
  float: left;
}

.right-section {
  padding-left: 20px;
}

.input-title {
  width: 100% !important;
  border-top: none;
  border-left: none;
  border-right: none;  
  height: 48px;
  font-size: 24px;
  &::-webkit-input-placeholder {
    color: #c3c3c3;
  }
}

h3.ssi-h3 {
  display: inline;
}

.main-section {
  padding-left: 25px;
}

.container-radiobutton {
  margin-bottom: 14px;
  label.mat-radio-label {
    margin-right: 8px;
  }

  .label-radio-button {
    color: #929292;
    margin-bottom: 8px;
  }  
}

.accident-form {
  form {
    max-width: 600px; 
  }  
  .container-item {
      display: inline-block;
      width: 50%;      
  }
  .mat-form-field {
    width: 240px;
  }
}